/* hoja de estilos-index html 3 alas */
/* color fondo #29272d; */

:root {
	/* es la raiz de todo mi sistema */
	
	--negro: #29272d;
	--naranja: orange;
	--blanco: #ffffff;
	--negroverdadero: #000;
	--negroclaro: #BBB;
	--gris:#fofofo;
	
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}
body {
	background-color: var(--negro);
	background-image: url("images/pattern.jpg");
	
	/* aplico la fuente general en la etiqueta para aprovechar la herencia */
	font-family: Arial;
	
	
}

h2 {
	
	font-size: 20px;
	margin-bottom: 16px; 
	
}


.cabecera {
	
	display: flex;
	
	/* le dice al sistema como queremos organizar los elementos en horizontal */
	justify-content: space-between;
	/* los centra en vertical */
	align-items: center;
	
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	
	margin-top: 16px;
	margin-bottom: 23px;
	
}

h1{
	color:  var(--naranja);
	
	
}

.contenedor {
	
	
	
	background-color: var(--blanco);
	
	
	margin-left: auto;
	margin-right: auto;
	
	max-width: 1000px; 
	
}

/* ----------------------------------SECCIÓN--------------------------------------
--------------------------------BOTONERA------------------------------------------ */

.botonera {
	border-radius: 10px 10px 0 0 ;
	
	background-color: var(--naranja);
	
	padding: 15px 8px 8px 15px; 
	
	

	
}

.botonera-lista {
	
	justify-content: space-around;
	display: flex;



}

/* .botonera ul { */
		
		/* list-style-type: none; */
		
/* } */

.botonera-lista li {
	
			
	flex-grow: 1;
	list-style-type:none;
	
}

.botonera a{
		
		text-decoration: none;
		display: block;
		border-right: 1px solid var(--blanco);
		text-align: center;
		padding: 6px 0;
		color: var(--blanco);
		
}

/* si hacemos clase etiqueta 
significa que etiqueta está dentro de clase)

si hacemos etiqueta.clase 
significa que etiqueta tiene aplicada a .clase */

a.sin-borde{
	border-right: none;
	
}

.botonera a:hover {
	
	
	
}

.botonera-lista_formulario {
		
		margin-left: 150px;
		margin-top: 2px;

}

.botonera-lista_formulario input {
	
	padding: 2px; 4px;
	/* retomo un poco de relleno en los elementos del formulario
	Padding que perdieron con el selector	*/
	
}
/* --------------------slider-----------------------------------imagen------------------- */


.slider {
	
	text-align: center;
	margin-top: 30px;
	
}



/* ---------------------CATEGORÍAS-----------------------------------------------
---------------------------------SECCIÒN--------------------------------------------------- */

.categorias {
	
	margin-top: 50px;
	width: 20% ;
	float: left;
	background-color: var (--negroclaro);
	margin-top: 50; 
	
}

.botonera-categorias {
	
	background-color: var (--negroclaro );
	margin-left: 24px;
}

.botonera-categorias a {
	
	list-style-type: none;
	text-decoration: none;
	padding-left:  4px;

}

.categorias h2 {
	
	padding-left: 24px;
	
}

.botonera-categorias li {
	border-bottom: 1px dashed black;
	list-style-type:none;
	padding: 6px 0px;
	
	}

.botonera-categorias a:hover {
	
	 font-weight: 
}

/* ------------------------SECCIÓN PRODUCTOS-----------------------------------
----------------------------------------------------------------------------- */
 
 
 .productos {
	 
	 margin-top: 50px; 
	 width: 80%;
	 float: right;
	 background-color: white;
	 
	 	 padding-right: 56px;
	 
 }
 
 .lampara {
	 
	 float: left;
	 width: 50%;
	 margin-bottom: 40px; 

	 padding-left: 35px;
	
	 
 }
 
 .lampara img {
	 float: left;
	 
 }
 
 .lampara p{
	 
	 
	 float:right;
	 width:50%;
	 padding-left:30px;
	 
 }

/* ----------------------------SECCIÒN NEWSLETTER-----------------
................................................................ */

.newsletter {
	clear: both;
	
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
	
	border: 1px solid gray ;
	padding: 20px 24px ;
	
	background-image: linear-gradient(white, gray);
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	border-radius: 8px;

}

.newsletter-info {
	margin-left:40px;
	
}

.newsletter p {
	
margin-left: 45px;
}

.newsletter-form [ type="submit" ] {
	background: none;
	border: none;
	
	cursor: wait;
	/* para que aparezca la manito re piola */
	
	font-weight: bold;
	padding: 5px 8px;
	
}


/* -------------------------------------------pie secciòn-----------------------
------------------------------------------------------------------------------- */


.pie {
	
	font-size: 14px;
	padding: 6px 50 px;
	background-color: var(--gris);
	border-top: 1px solid gray;
	margin-top: 30px;
	padding-left: 30px;
	
}

.pie-argentina, .pie-china {
	float: left;
	padding-top: 30px;
	padding-left: 30px;
}

.pie-copy {
	
	float: left;
	padding-left: 15px;
	padding-top: 30px;
	
}


.pie-china {
	border-right: 1px solid gray;
	padding-right: 20px;
	
}

.pie-creditos {
	
	clear:both;
	text-align: right;
	padding-bottom: 20px;
	padding-right: 30px;
	
}

.pie-creditos a {
	
	/* aca va la fuente de google	*/
	
	font-family: 'Luckiest Guy', cursive;
	font-size: 20px;
	
}



